{% extends 'base.html.twig' %}

{% block title %}

	Formulaire de Creation d'Article

{% endblock %}

{% block body %}

<div class="card shadow mb-4">

<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Nouveau Article</h6>
		</div>

        <div class="card body">

        {{form(form)}}


        
	</div>

	


	</div>

{% endblock %}
